<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 模板页面 <br>
<span th:text="|超级VIP是, ${username}|"></span>
 username: <span th:text="${user.name}"></span>
<span th:if="${money>5000}">小康</span>
<span th:unless="${money<=5000}">打工人</span>

<hr/>
<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
    </tr>
    <tr th:each="user: ${list}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
    </tr>
</table>
</body>
</html>